<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuevo producto</h6>
    </div>
    <div class="card-body">
        <div class=" col-md-12 mb-3">
            <form class="needs-validation" [formGroup]="reactiveForm" (ngSubmit)="createProvider()">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Nombre(s)</label>
                        <input type="text" class="form-control" formControlName="name" class="form-control" #name id="validationCustom01" placeholder="Naranja"
                            required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="validationCustom05">Categoria</label>
                        <select id="inputType" class="form-control" formControlName="category" #category required>
                            <!-- <option selected> {{product.category}}</option> -->
                            <option *ngFor="let ct of ptypes ">{{ct.type}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustomUsername">Precio</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">$</span>
                            </div>
                            <input type="number" class="form-control" id="validationCustomUsername" formControlName="price" #price placeholder="13.00"
                                aria-describedby="inputGroupPrepend" required>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom03">Descripción</label>
                        <input type="text" class="form-control" formControlName="description" #description placeholder="Naranja traida de las granjas de XXXXX"
                            required>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Tipo de unidad</label>
                        <!-- <select id="inputType" class="form-control" name="pUnit" #pUnit="ngModel" [(ngModel)]="product.unit" required>
                                    <option selected> {{product.unit}}</option>
                                    <option *ngFor="let u of units ">{{u._id}}</option>
                                </select> -->
                        <div *ngFor="let u of units">
                            <input type="checkbox" name="" value="{{u.name}}" (click)="addUnit(u._id)">{{u.name}}
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Proveedores</label>
                        <!-- <select id="inputType" class="form-control" name="pUnit" #pUnit="ngModel" [(ngModel)]="product.unit" required>
                                    <option selected> {{product.unit}}</option>
                                    <option *ngFor="let u of units ">{{u._id}}</option>
                                </select> -->
                        <div *ngFor="let p of providers">
                            <input type="checkbox" value="{{p._id}}" (click)="addProvider(p._id)">{{p.name}}
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary float-right mb-3" type="reset" (click)="createProducts()" [disabled]="!reactiveForm.valid">Agregar</button>
                <button class="btn btn-danger float-right mb-3 mr-3" type="reset" [routerLink]="['/products']">Cancelar</button>
            </form>
        </div>
    </div>
</div>


<!--
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="container bootstrap snippet" *ngIf="rest.loggedIn() && rest.getRole()=='Admin' || rest.getRole()=='Gerente'">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class=" col-md-12 mb-3">
                        <p>Productos</p>
                        <form class="needs-validation" [formGroup]="reactiveForm" (ngSubmit)="createProducts()">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Nombre(s)</label>
                                    <input type="text" class="form-control" formControlName="name" class="form-control" #name id="validationCustom01" placeholder="Naranja"
                                        required>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom05">Categoria</label>
                                    <select id="inputType" class="form-control" formControlName="category" #category required>
                                        
                                        <option *ngFor="let ct of ptypes ">{{ct._id}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustomUsername">Precio</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">$</span>
                                        </div>
                                        <input type="number" class="form-control" id="validationCustomUsername" formControlName="price" #price placeholder="13.00"
                                            aria-describedby="inputGroupPrepend" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom03">Descripción</label>
                                    <input type="text" class="form-control" formControlName="description" #description placeholder="Naranja traida de las granjas de XXXXX"
                                        required>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Tipo de unidad</label>
                                    
                                    <div *ngFor="let u of units">
                                        <input type="checkbox" name="" value="{{u.name}}" (click)="addUnit(u._id)">{{u.name}}
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Proveedores</label>
                                    
                                    <div *ngFor="let p of providers">
                                        <input type="checkbox" value="{{p._id}}" (click)="addProvider(p._id)">{{p._id}}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary float-right mb-3" type="reset" (click)="createProducts()" [disabled]="!reactiveForm.valid">Agregar</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>-->