<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuevo comedor</h6>
    </div>
    <div class="card-body">
        <div class=" col-md-12 mb-3">
            <form class="needs-validation" [formGroup]="reactiveForm" (ngSubmit)="createDRoom()">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Nombre del comedor</label>
                        <input type="text" class="form-control" formControlName="dRoom" class="form-control" #dRoom id="validationCustom01" placeholder="Comedor Industrial"
                            required>
                    </div>
                    <div class="col-md-7 mb-3">
                        <label for="validationCustom02">Observaciones</label>
                        <input type="text" class="form-control" formControlName="observations" #observations id="validationCustom02" placeholder="Comedor de la empresa Empresa Inc."
                            required>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom03">Encargado</label>
                        <select id="inputType" class="form-control" formControlName="user" #user id="validationCustom03" required>
                            <option disabled selected> Elegir...</option>
                            <option *ngFor="let u of usersName">{{u}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom04">Nombre de la calle</label>
                        <input type="text" class="form-control" formControlName="street" class="form-control" #street id="validationCustom04" placeholder="Calle Egipto"
                            required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Numero exterior</label>
                        <input type="number" class="form-control" formControlName="street_number" #street_number id="validationCustom05" placeholder="305"
                            required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom06">Numero interior</label>
                        <input type="number" class="form-control" formControlName="suite_number" #suite_number id="validationCustom06" placeholder="10">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom07">Colonia</label>
                        <input type="text" class="form-control" formControlName="colony" class="form-control" #colony id="validationCustom07" placeholder="Diego Lucero"
                            required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom08">Codigo Postal</label>
                        <input type="number" class="form-control" formControlName="postal_code" #postal_code id="validationCustom08" placeholder="31100"
                            required>
                    </div>
                </div>
                <button class="btn btn-primary float-right mb-3" type="reset" (click)="createDRoom()" [disabled]="!reactiveForm.valid">Agregar</button>
                <button class="btn btn-danger float-right mb-3 mr-3" type="reset" [routerLink]="['/dinningRooms']">Cancelar</button>
            </form>
        </div>
    </div>
</div>
