<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuevo camion</h6>
    </div>
    <div class="card-body">
        <div class=" col-md-12 mb-3">
            <form class="needs-validation" [formGroup]="reactiveForm" (ngSubmit)="createProvider()">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Espacio del camión (Metros Cuadrados)</label>
                        <input type="number" class="form-control" formControlName="space_box" class="form-control" #space_box id="validationCustom01"
                            placeholder="10" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">Conductor del camión</label>
                        <select id="inputType" class="form-control" formControlName="user" #user required>
                            <option disabled selected> Elegir...</option>
                            <option *ngFor="let u of users">{{u._id}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom01">Placa del camión</label>
                        <input type="text" class="form-control" formControlName="license_plate" class="form-control" #license_plate id="validationCustom01"
                            placeholder="EHT9784" required>
                    </div>
                </div>
                <button class="btn btn-primary float-right mb-3" type="reset" (click)="createBusses()" [disabled]="!reactiveForm.valid">Agregar</button>
                <button class="btn btn-danger float-right mb-3 mr-3" type="reset" [routerLink]="['/busses']">Cancelar</button>
            </form>
        </div>
    </div>
</div>
