
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nuevo proveedor</h6>
    </div>
    <div class="card-body">
        <div class=" col-md-12 mb-3">
            <form class="needs-validation" [formGroup]="reactiveForm" (ngSubmit)="createProvider()">
                    <div class="form-row">
                            <div class="col-md-4 mb-3">
                              <label for="validationCustom01">Unidad de Medida</label>
                              <input type="text" class="form-control" formControlName="name" class="form-control" #name id="validationCustom01" placeholder="Caja"  required>
                            </div>
                            <div class="col-md-4 mb-3">
                              <label for="validationCustom01">Peso en Kilogramos</label>
                              <input type="number" class="form-control" formControlName="weigh" class="form-control" #weigh id="validationCustom01" placeholder="32"  required>
                            </div>
                          </div>
                          <button class="btn btn-primary float-right mb-3" type="reset" (click)="createUnits()"
                          [disabled]="!reactiveForm.valid">Agregar</button>
                <button class="btn btn-danger float-right mb-3 mr-3" type="reset" [routerLink]="['/units']"
                        >Cancelar</button>
            </form>
        </div>
    </div>
</div>


<!--
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <div class="container bootstrap snippet" *ngIf="rest.loggedIn() && rest.getRole()=='Admin' || rest.getRole()=='Gerente'">
      <div class="row">
          <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                  <div class="main-box-body clearfix">
                    <div class=" col-md-12 mb-3">
                        <p>Unidades</p>
                        <form class="needs-validation" [formGroup]="reactiveForm" (ngSubmit)="createUnits()">
                            <div class="form-row">
                              <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Unidad de Medida</label>
                                <input type="text" class="form-control" formControlName="name" class="form-control" #name id="validationCustom01" placeholder="Caja"  required>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Peso en Kilogramos</label>
                                <input type="number" class="form-control" formControlName="weigh" class="form-control" #weigh id="validationCustom01" placeholder="32"  required>
                              </div>
                            </div>
                            <button class="btn btn-primary float-right mb-3" type="reset" (click)="createUnits()"
                            [disabled]="!reactiveForm.valid">Agregar</button>
                          </form>
                    </div>
                  </div>
              </div>
            </div>
      </div>
  </div>


-->