<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="mb-4 text-right">
    <a [routerLink]="['/productTypes/create']" class="btn btn-primary btn-icon-split" *ngIf="rest.getRole()=='Admin'">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text" style="color:white">Agregar categoria</span>
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Categorias Existentes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th *ngIf="rest.loggedIn() && rest.getRole()=='Admin' || rest.getRole()=='Gerente'">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pt of ptypes">
                        <td>{{pt.type}}</td>
                        <td style="width: 20%;" *ngIf="rest.loggedIn() && rest.getRole()=='Admin' || rest.getRole()=='Gerente'">
                            <a routerLink="/productTypes/update/{{pt._id}}" class="table-link">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a class="table-link danger" (click)="deleteProductTypes(pt._id)">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Categorías de producto</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pt of ptypes">
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">{{pt.type}}</a>
                                    </td>
                                    <td style="width: 20%;" *ngIf="rest.loggedIn() && rest.getRole()=='Admin' || rest.getRole()=='Gerente'">
                                        <a routerLink="/productTypes/update/{{pt._id}}" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a class="table-link danger" (click)="deleteProductTypes(pt._id)">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->