<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class=" col-md-12 mb-3">
                        <p>Actualizar Producto</p>
                          <form class="needs-validation" [formGroup]="reactiveForm" (ngSubmit)="updateProduct()">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Nombre(s)</label>
                                    <input type="text" class="form-control" formControlName="name" class="form-control" #name id="validationCustom01"
                                        placeholder="Naranja" required>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom05">Categoria</label>
                                    <select id="inputType" class="form-control" formControlName="category" #category required>
                                        <!-- <option selected> {{product.category}}</option> -->

                                        <option selected>{{prueba}}</option>
                                        <option *ngFor="let ct of filcat ">{{ct._id}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustomUsername">Precio</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">$</span>
                                        </div>
                                        <input type="number" class="form-control" id="validationCustomUsername" formControlName="price" #price
                                            placeholder="13.00" aria-describedby="inputGroupPrepend" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom03">Descripción</label>
                                    <input type="text" class="form-control" formControlName="description" #description id="validationCustom03"
                                        placeholder="Naranja traida de las granjas de XXXXX" required>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Tipo de unidad</label>
                                    <div *ngFor="let u of units">
                                      <input type="checkbox" name="" value="{{u.name}}" (click)="addUnit(u._id)" >{{u.name}}
                                    </div>
                                  </div>

                                  <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Proveedores</label>
                                    <div *ngFor="let p of providers">
                                      <input type="checkbox" name="" value="{{p._id}}" (click)="addProvider(p._id)">{{p._id}}
                                    </div>
                                  </div>
                            </div>
                            <button class="btn btn-primary float-right mb-3" type="reset" (click)="updateProduct()"
                            [disabled]="!reactiveForm.valid">Actualizar</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
