<div class="mb-4 text-right">
    <a href="#" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text" style="color:white">Agregar pedido</span>
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pedidos Existentes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Comedor</th>
                        <th>Solicitante</th>
                        <th>Productos</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rq of requests">
                        <td>{{rq.dRoom.dRoom}}</td>
                        <td>{{rq.created.user}}</td>
                        <td>
                            <ol class="list-unstyled">
                                <li *ngFor="let e of rq.products" href="#" class="">
                                    <span class="badge badge-primary badge-pill">{{e.quantity}}</span> {{e.unit}} de {{e.name}}
                                </li>
                            </ol>
                        </td>
                        <td>
                            <span class="badge badge-primary">{{rq.status}}</span>
                        </td>
                        <td>
                            <a class="table-link" *ngIf="canStatusUpgrade(rq.status) === true" data-toggle="modal" data-target="#authorization" (click)="copyReq(rq)">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a class="table-link" *ngIf="canStatusDownGrade(rq.status) === true" data-toggle="modal" data-target="#rejection" (click)="copyReq(rq)">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a routerLink="/requests/update/{{rq._id}}" class="table-link" *ngIf="canEdit(rq.status) === true">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a class="table-link danger" (click)="deleteRequest(rq._id)" *ngIf="canDelete(rq.status) === true">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fas fa-trash-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

















<!--




<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class=" col-md-12 mb-3">
                        <h2>Nuevo pedido</h2>
                        <form class="needs-validation">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom05">Comedor que reliza el pedido</label>
                                    <select id="inputType" class="form-control" name="userType" #userType="ngModel" [(ngModel)]="request.dRoom" required>
                                        <option selected> Elegir...</option>
                                        <option *ngFor="let dr of dRooms">{{dr._id}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="container mb-3">
                                    <label for="tArequest">Observaciones</label>
                                    <textarea id="tArequest" rows="2" cols="50" name="desc" class="form-control" #desc="ngModel" [(ngModel)]="request.observations">
                                 </textarea>
                                </div>
                            </div>
                            <div class="form-row">
                              <div class="table-responsive">
                                    <p>Productos seleccionados</p>
                                    <table class="table user-list">
                                        <thead>
                                            <tr>
                                                <th><span>Producto</span></th>
                                                <th><span>Unidades</span></th>
                                                <th><span>Cantidad</span></th>
                                                <th><span>Proveedor</span></th>
                                                <th><span>Opciones</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let sl of selected, let i = index">
                                                <td>
                                                    <a href="#">{{sl.name}}</a>
                                                </td>
                                                <td>
                                                    <a href="#">{{sl.unit}}</a>
                                                </td>
                                                <td>
                                                    <a href="#">{{sl.quantity}}</a>
                                                </td>
                                                <td>
                                                    <a href="#">{{sl.provider}}</a>
                                                </td>
                                                <td style="width: 20%;">
                                                    <a class="table-link danger" (click)="deleteElement(i)">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                </div>
                                </div>
                            <button class="btn btn-primary float-right mb-3" type="reset" (click)="createRequest()">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <h2>Productos disponibles</h2>
                            <br>
                            <ng-container *ngFor="let pt of ptypes, let i = index" id="accordion">
                                <p>
                                    <a data-toggle="collapse" href="#acc{{i}}" role="button" aria-expanded="false" aria-controls="samplse" >
                                        {{pt.type}}
                                    </a>
                                </p>
                                <hr>
                                <div class="collapse table-responsive" id="acc{{i}}">
                                    <ng-container  *ngFor="let p of products">
                                        <div class="form-row table-responsive" *ngIf="p.category._id == pt._id">
                                                <p style="width: 2%"></p>
                                                        <p style="width: 10%">
                                                                <a href="#" class="">{{p.name}}</a>
                                                            </p>
                                                            <p style="width: 58%">
                                                                {{p.description}}
                                                            </p>
                                                            <p style="width: 15%">
                                                                ${{p.price}}
                                                            </p>
                                                            <p style="width: 15%">
                                                                    <button class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal" (click)="addProduct(p)">Añadir a listado</button>
                                                            </p>
                                                <hr style="width:95%">
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
</div>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <h2>Pedidos existentes</h2>
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>Comedor</span></th>
                                        <th><span>Solicitante</span></th>
                                        <th><span>Productos</span></th>
                                        <th><span>Estado del pedido</span></th>
                                        <th><span>Opciones</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rq of requests">
                                        <td>
                                            <a href="#" class="">{{rq.dRoom}}</a>
                                        </td>
                                        <td>
                                            <a href="#" class="">{{rq.created.user}}</a>
                                        </td>
                                        <td>
                                            <ol class="list-unstyled">
                                                <li *ngFor="let e of rq.products" href="#" class="">
                                                    <span class="badge badge-primary badge-pill">{{e.quantity}}</span> {{e.unit}}
                                                    de {{e.name}}

                                                </li>
                                            </ol>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge badge-primary">{{rq.status}}</span>
                                        </td>
                                        <td style="width: 20%;">
                                            <a class="table-link" *ngIf="canStatusUpgrade(rq.status) === true" data-toggle="modal" data-target="#authorization" (click)="copyReq(rq)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a class="table-link" *ngIf="canStatusDownGrade(rq.status) === true" data-toggle="modal" data-target="#rejection" (click)="copyReq(rq)">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>

                                            <a routerLink="/requests/update/{{rq._id}}" class="table-link" *ngIf="canEdit(rq.status) === true">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a class="table-link danger" (click)="deleteRequest(rq._id)" *ngIf="canDelete(rq.status) === true">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal">
       <div class="modal-dialog">
           <div class="modal-content">
             <form [formGroup]="reactiveForm" (ngSubmit)="addToList()">


              
               <div class="modal-header">
                <h4 class="modal-title">Producto a agregar: {{pSelected.name}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

           
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Unidad deseada</label>
                        <select id="inputType" class="form-control" formControlName="uType" #uType required>
                            <option selected>Elegir..</option>
                            <option *ngFor="let u of pSelected">{{u.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Proveedor deseado</label>
                        <select id="inputType" class="form-control" formControlName="pProv" #pProv required>
                            <option selected>Elegir..</option>
                            <option *ngFor="let p of pSelected2">{{p}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom01">Cantidad requerida</label>
                        <input type="number" class="form-control" formControlName="qtty" #qtty placeholder="2" required>
                    </div>

                </div>

            </div>

            
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addToList()"
                [disabled]="!reactiveForm.valid">Agregar</button>
            </div>
          </form>
        </div>
    </div>
</div>

-->