
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <div class="container bootstrap snippet">
      <div class="row">
          <div class="col-lg-8">
              <div class="main-box no-header clearfix">
                  <div class="main-box-body clearfix">
                    <div class=" col-md-12 mb-3">
                        <p>Actualizar Unidad</p>
                        <form class="needs-validation" novalidate>
                            <div class="form-row">
                              <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Nombre de la Unidad</label>
                                <input type="text" class="form-control" name="name" class="form-control" #name="ngModel" [(ngModel)]="unit.name" id="validationCustom01" placeholder="KG, Reja , Costal"  required>
                              </div>
                            </div>
                            <button class="btn btn-primary float-right mb-3" type="reset" (click)="updateUnit()">Actualizar</button>
                          </form>
                    </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
